package layouts

templ NotFound() {
    @Layout() {
        <main class="h-full w-full grid place-items-center">
            <div class="p-6 border rounded-md">
                Page not found!
            </div>
        </main>
    }
}