package views


import "url_shortener/views/components"

templ Index() {
    <!DOCTYPE html>
    <html lang="en" class="w-full h-full">
        @components.Header()
        <body class="w-full h-full">
            <main class="flex flex-col">
                <div class="size-4 bg-red-200">
                </div>
            </main>
        </body>
    </html>
}